<% content_for :head do %>
  <meta name="title" content="<%= @title %>">
  <meta name="description" content="レシピの一覧ページです。">
<% end %>


<div class="container index-project">
    <div class="container">
      <%= render 'recipes/list' , recipes: @recipes %>
    </div>
</div>

