<div id="ready-for-jumbotron">
    <div class="container">
      <h2>Made In Meとは</h2>
      <p>こんなものを創りたい。こんなアレンジをしたら楽しそう！。<br/>
      そういったあなたの心の中にある思いを形にして、それをみんなで共有できる「ものづくりの場」をつくりたい。<br/>
      そんな思いから、この「Made In Me」はスタートしました。<br/>
      気軽にあなたが創った作品のレシピをシェアして、ものづくりを楽しもう！<br/>
      </p>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div id="readyfor-contents" class="container">
  <h2>使い方はかんたん。<br/>
  レシピを作成してスタートするだけ。</h2>
  <div class="row">
    <div class="col-md-4">
      <h4><span class="step">1</span> レシピを作成</h4>
    </div>
    <div class="col-md-4">
      <h4><span class="step">2</span> レシピを作成して、みんなに共有する。</h4>
    </div>
    <div class="col-md-4">
      <h4><span class="step">3</span> ものづくりをたのしむ！</h4>
    </div>
  </div>
  <% if user_signed_in?  %>
    <h5><%= link_to "レシピを作成する", recipes_new_path, class: "btn btn-large btn-info" %></h5>
  <% else %>
    <h5><%= link_to "まずは新規会員登録する", new_user_registration_path, class: "post btn btn-large btn-info" %></h5>
  <% end %>
</div>

<div id="about-zadankai">
  <div class="container">
    <div class="row">
      <div class="col-md-6 diyou-about">
        <!-- 写真か何かを入れる -->
        <%= image_tag '/images/shutterstock_347801048.jpg' %>
      </div>
      <div class="col-md-6">
        <h2>Made In Meとは</h2>
      <p>こんなものを創りたい。こんなアレンジをしたら楽しそう！。<br/>
      そういったあなたの心の中にある思いを形にして、それをみんなで共有できる「ものづくりの場」をつくりたい。<br/>
      そんな思いから、この「Made In Me」はスタートしました。<br/>
      気軽にあなたが創った作品のレシピをシェアして、ものづくりを楽しもう！<br/>
      </p>
      </div>

    </div>
  </div>
</div>